<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="contributor" name="Monitor Center Contributor" schema="schema/contributor.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/monitorcenter.gif"
            class="org.eclipsedesktop.monitorcenter.ui.view.MonitorCenterView"
            category="org.eclipsedesktop"
            name="Monitor Center"
            id="org.eclipsedesktop.monitorcenter.ui.view.MonitorCenterView"/>
   </extension>
</plugin>
