<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/full/eview16/icon.gif"
            class="org.eclipsedesktop.sonicplayer.ui.views.SonicPlayerView"
            category="org.eclipsedesktop"
            name="Sonic Player"
            id="org.eclipsedesktop.sonicplayer.ui.views.SonicPlayerView"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipsedesktop.sonicplayer.ui.preferences.SonicPreferencePage"
            name="Sonic Player"
            category="org.eclipsedesktop"
            id="org.eclipsedesktop.sonicplayer.ui.preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
      		class="org.eclipsedesktop.sonicplayer.ui.preferences.SonicPreferenceInit"/>
   </extension>
</plugin>
